---
import Member from "./member.astro";
import { getCollection } from "astro:content";

const teamCollection = await getCollection("team");
const teamMembers = teamCollection.map((member: any) => member.data);
---

<section id="team" class="bg-neutral-dark-20 py-16">
  <div class="main mx-auto">
    <!-- Team Members -->
    <h2
      class="mb-6 text-center text-heading-sm text-neutral-light-50 md:text-left"
    >
      Meet Our Team
    </h2>
    <div
      class="grid grid-cols-2 gap-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
    >
      {
        teamMembers.map((member: any) => (
          <Member
            key={member.name}
            name={member.name}
            link={member.link}
            profile_image={member.profile_image}
          />
        ))
      }
    </div>
  </div>
</section>
