---
import type { ProjectType } from "./project-item.astro";
import ProjectItem from "./project-item.astro";

const projects: ProjectType[] = [
  {
    title: "MAIR Network",
    description:
      "A network of Moroccan Researchs in AI around the Globe, MAIR aims to connect Moroccan researchers in AI and ML, share knowledge, and foster collaboration. We organize events, workshops, and discussions to promote AI research and innovation in Morocco.",
    image: "/mair2.gif",
    links: [
      { text: "Watch the latest episode", url: "/podcast" },
      { text: "Suggest a topic", url: "/podcast/planning" },
    ],
    color: "#29AD86",
  },
  {
    title: "State Of AI Research",
    description:
      "A survey launched 4 years ago where developers from Morocco 🇲🇦 tell us about their job satisfaction, salaries, community contribution, how they learn and level up, which tools they're using, how they feel about the Moroccan tech community and what they want to learn next. Check out the the report and learn more.",
    image: "/mair3.gif",
    badge: "Coming Soon",
    links: [
      { text: "Report Under Construction", url: "" },
      { text: "StateOfDev.ma", url: "https://stateofdev.ma" },
    ],
    color: "#AE8DF0",
  },
];
---

<section class="py-16" id="projects">
  <div class="main mx-auto px-4">
    <h2 class="mb-8 text-heading-sm font-bold">Projects</h2>
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
      {projects.map(project => <ProjectItem project={project} />)}
    </div>
  </div>
</section>
