---
import type { ProjectType } from "./project-item.astro";
import ProjectItem from "./project-item.astro";

const projects: ProjectType[] = [
  {
    title: "MAIR Network",
    description:
      "A directory of Moroccan researchers in AI around the globe. MAIR Network helps you discover, connect, and collaborate with Moroccan experts in AI and ML, fostering knowledge sharing and innovation through events, workshops, and community discussions.",
    image: "/mair2.gif",
    links: [{ text: "Explore the Network", url: "/network" }],
    color: "#29AD86",
  },
  {
    title: "State Of AI Research",
    description:
      "An initiative to map the landscape of AI research in Morocco. Through surveys, interviews, and data collection, we aim to uncover where and how AI research is being conducted — from university labs and PhD programs to private R&D centers. The report will provide insights on research themes, institutional capacity, talent distribution, and the ecosystem’s challenges and opportunities.",
    image: "/mair3.gif",
    badge: "Coming Soon",
    links: [{ text: "Report Under Construction", url: "" }],
    color: "#AE8DF0",
  },
];
---

<section class="py-16" id="projects">
  <div class="main mx-auto px-4">
    <h2 class="mb-8 text-heading-sm font-bold">Projects</h2>
    <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
      {projects.map(project => <ProjectItem project={project} />)}
    </div>
  </div>
</section>
