---

---

<footer class="bg-black py-8 text-white" id="footer">
  <div class="main text-neutral-light-30">
    <div class="mb-6">
      <h2 class="mb-2 font-sans text-heading-sm">Join Us</h2>
      <a
        href="https://lnkd.in/et9MW3_i"
        target="_blank"
        class="hover:text-white"
      >
        Discord Server ↗
      </a>
    </div>
    <div class="mt-8 border-t pt-5 text-center">
      <p>
        Moroccans In AI Research © 2024-{new Date().getFullYear()}
      </p>
    </div>
  </div>
</footer>
